#imagenizquierda {
               position:absolute;
               left:1px;
               top:0px;
}
body 
{
	margin : 0;
	font-family : Arial;
	font-size : 12pt;
	font-weight : normal;
	color : gray;
	text-align : center;
	line-height : 18px;
	background : url('bground.jpg') no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}



#login-box {
  position: relative;
  margin: 5% auto;
  width: 5000px;
  height: 400px;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 100;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;

}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}



.right {
  position: absolute;
  top: 0px;
  left: 500px;
  box-sizing: border-box;
  width: 500px;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

#navegador li {
		display:inline;
	}
	
	#navegador ul {
		list-style:none;
		margin:0;
		padding:0;
	}
	
	#navegador a {
		background:#fed45e;
		padding:10px;
		text-decoration:none;
	}
	
	#navegador a:hover {
		color:#fff;
		background:#339;  
	}
h1, h2 
{
	text-transform : uppercase;
	font-family : "Arial Bold", Arial;
	text-align : center;
	letter-spacing : -1px;
	line-height : 28px;
	margin : 10px 0 10px 0;
	color : #55FFFF;
}
form {
    border: 30px solid ;
	border-color:transparent;
}
.divcontacto{
  height: 420px;
}
.divquien{
  height: 700px;
}
#wrap 
{
	width : 1150px;
	margin : 0 auto;
	text-align : left;
	overflow : hidden;
}

#header 
{
	float : left;
	position : center;
	width : 1150px;
	height : 60px;
	background : #0099AA;
	z-index : 500;
}

#main
{
	background : #FFF;
	float : left;
	width : 1150px;
	position : center;
	padding : 20px 0 20px 0;
}
hr {
  background-color: transparent;
  border-color:transparent;
}
#footer 
{
	padding : 25px 40px;
	margin : 20px 0 0 0;
	width : 100%;
	text-align : center;
	background : #22DDDD;
	font-weight : bold;
	text-transform : uppercase;
}
